<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div style="padding: 20px"></div>

    Home Page <%- include('./partials/scripts.ejs') %>
  </body>
</html>
