<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8" />
    <title>Sign In</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <%- include('./partials/scripts.ejs')
    %>
    <h1>Sign In</h1>
    <form action="/user/login" method="POST" autocomplete="off">
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            name="email"
            type="email"
            class="form-control"
            id="Email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input
            name="password"
            type="password"
            class="form-control"
            id="Password"
            placeholder="Password"
          />
        </div>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </body>
  <% if (typeof errorMessage !== 'undefined') { %>
  <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
  <% } %>
</html>
